
h1 {
  color: black; }

.card-tour-item{
  margin-top: 30px;
  margin-left: 30px;
}
.Tour-name{
    color: #003C71;
    font-size: 16px;
    font-weight: bold;
}

.textCurrency {
  font-size: 13px;
  font-weight: initial;
}
.price {
  font-size: 22px;
  font-weight: bold;
  float: right;
  color: #f79321;
}
.score-container__inner {
  float: left;
  margin-bottom: 10px;
}
.score {
  padding: 3px 5px;
  border-radius: 6px;
  background: #9fc43a;
  color: #fff;
  font-weight: bold;
}
.score-description {
  color: #9fc43a;
  font-weight: bold;
}
.trans {
  color: #00abc5;
}
