<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">TOUR BOOKING</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        
        {{!-- hint --}}
        {{!-- <li class="nav-item dropdown">
          <form id="hintForm" action="/hint" method="GET">
            <input class="form-control me-2" type="search" name="budget" placeholder="Search" aria-label="Search">
            <input class="form-control me-2" type="search" name="timeFund" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </li> --}}

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/management">Quản lý các chuyến đi</a>
        </li>
      </ul>
      {{!-- Search title --}}
      <form class="d-flex" action="/search" method="GET">
        <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>